body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}
.leader-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  margin-bottom: 0;
}
.leader-container h2{
  text-align: center;
  color: #fff;
  font-weight: 600;
  margin-bottom: 30px;
}
.leader-container table {
  width: 100%;
  border-collapse: collapse;
}
.leader-container th, td {
  padding: 12px 15px;
  text-align: left;
  color: #fff;
  border-bottom: 1px solid #ddd;
}
.leader-container th {
  background-color: rgb(255, 255, 255,0.5);
  color: #080808;
}
/* .leader-container tr:hover {
  background-color: #f9f9f9;
} */
/* #pagination-controls{
  position: relative;
  z-index: 100;
}
#pagination-controls button{
  border-radius: 5px;
  padding: 7px;
  border-width: 0;
  color: white;
} */
.wcp-pagecontrol{
  padding: 30px 0;
}
.wcp-pagecontrol .back, .wcp-pagecontrol .next{
  padding: 10px 23px;
  cursor: pointer;
  border-radius: 6px;
  border: none;
}
.wcp-pagecontrol .back{
  float: left;
}
.wcp-pagecontrol .next{
  float: right;
}
@media screen and (max-width: 768px) {
.leader-container table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  .leader-container th, td {
    min-width: 120px;
  }
}