body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  #navbar {
    padding: 10px;
    text-align: center;
  }
  #navbar img {
    margin-top: 10px;
    margin-left: 35px;
    max-width: 14%;
    height: auto;
    display: block;
  }
  #container {
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    padding: 20px;
    background-image: url(/assets/images/credential-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  #container .left {
    flex: 1;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    padding-top: 20px;
  }
  #container .right {
    flex: 2;
    padding-left: 10px;  
    padding-top: 20px;
  }
  .image-container {
    margin-bottom: 20px;
    width: 135px;
    height: 135px;
  }
  .image-container img {
    max-width: 100%;
    display: block;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
  }
  .image-container.image2 img, .image-container.image1 img{
    padding: 20px;
  }
  .displayed-image img{
    width: 670px;
    height: 495px;
  }
  .displayed-image img.image-1.active{
    width: 420px;
    height: 420px;
  }
  .image-container.image2 img.active, .image-container.image1 img.active{
    background-color: rgba(200, 200, 200, 0.7);    
    border: none;
    border-radius: 5px;
  }

  .credential-bottom{
    padding: 48px 36px;
  }
  .web-link{
    text-decoration: none;
    color: #0067df;
    font-size: 24px;
  }
  .fa-solid.fa-arrow-up-right-from-square{
    color: #63647a;
  }
  .share{
    display: flex;
    flex-direction: row;
  }
  .share a{
    text-decoration: none;
    padding: 0 16px;
    color: rgba(0,0,0,.87);
    line-height: 36px;
    font-size: 18px;
    font-weight: 600;
  }
  .share i{
    color: #63647a;
    margin-right: 8px;
    font-size: 20px;
    font-weight: 400;
  }
  .meta{
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }
  /* Style the dropdown button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Show the dropdown menu when the button is focused */
.dropdown:focus-within .dropdown-content {
  display: block;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
    margin: 20px 0;
}

.event {
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
    section {
        display: flex;
        justify-content: space-around;
    }
    .event {
        width: 45%;
    }
}
