@import url('https://fonts.googleapis.com/css?family=Dosis:300,300i,400,400i,600,600i,700,700i,800,800i,900,900i|Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i');

h2, .h2_title {
	font-size: 28px;
	display: block;
	margin-top: 0;
	margin-bottom: 30px;
	line-height: 1.2em;
	letter-spacing: -1px;
}

h2 {
	font-weight: 500;
	letter-spacing: normal;
	margin-bottom: 40px;
	font-size: 40px;
}

h2 .uptitle {
	font-family: "Source Sans Pro";
	text-transform: uppercase;
	display: block;
	font-size: 14px;
	letter-spacing: 10px;
	font-weight: 500;
}

.pf_text {
	color: #eceff3;
	letter-spacing: 5px;
}

span.overlay {
	font-family: "Dosis";
	text-align: center;
	display: block;
	width: 100px;
	background: rgba(64, 65, 70, .8);
	position: absolute;
	opacity: .75;
	z-index: 500;
}

.de-gallery .overlay .pf_text {
	display: inline-block;
	opacity: 0;
}

.de-gallery .project-name {
	font-size: 16px;
	letter-spacing: 0;
}

.pf_full_width.grid .item {
	margin: 0 .75% .75% 0;
	width: 32%;
}

#filters {
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
	font-weight: 400;
}

#filters li {
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 10px;
}

#filters a {
	background: none;
	outline: none;
	color: #888;
	text-decoration: none;
	color: #888;
	padding: 5px 20px 5px 20px;
	border-radius: 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#filters a.selected {
	color: #fff;
}



